body {
    /* Per l'immagine di sfondo */
    /* box-sizing: border-box;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat; */

    background-color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form{
    text-align: center;
    border: 5px solid black;
    border-radius: 3vh;
    padding: 30px;
    width: 30%;
    background-color: white;
}

#divScript {
    text-align: center;
    border: 5px solid black;
    border-radius: 3vh;
    padding: 30px;
    width: 40%;
    background-color: white;
}

.buttonSend {
    border: 1px solid black;
    border-radius: 1vh;
    padding: 5px;
    color: black;
    text-decoration: none;
    background-color: white;
}

.divResult{
    text-align: center;
    border: 5px solid black;
    border-radius: 3vh;
    padding: 30px;
    width: 30%;
    background-color: white;
}

.divResultErr{
    text-align: center;
    border: 5px solid red;
    border-radius: 3vh;
    padding: 30px;
    width: 30%;
    background-color: white;
}

.h1ResultErr {
    color: red;
    padding-bottom: 30px;
}

table, th, td {
    border: 1px solid black ;
    border-collapse: collapse;
    padding: 5px;
}

table {
    border-radius: 3vh;
    margin: auto;
    width: 50%;
    text-align: center;
}

ul {
    width: 25%;
    margin: auto;
}

li { 
    width: 25%;
    text-align: center;
}

#divReset{ 
    text-align: center;
    border: 5px solid green;
    border-radius: 3vh;
    padding: 30px;
    width: 30%;
    background-color: white;
}

#h1Reset{
    color: green;
    padding-bottom: 30px;
}